{% extends 'base.jinja' %}

{% macro badge(link, src, alt, width) %}
  <a href="{{ link }}" class="badge">
    <amp-img
      src="{{ src }}"
      alt="{{ alt }}"
      width="{{ width }}"
      height="20"
      layout="fixed">
    </amp-img>
  </a>
{% endmacro %}

{% macro intro() %}
  <h1>harrier</h1>
  <a href="https://github.com/samuelcolvin/harrier" class="badge">
    <amp-img
      src="{{ url('images/github.png') }}"
      alt="github"
      width="20"
      height="20"
      layout="fixed">
    </amp-img>
    samuelcolvin/harrier
  </a>
  {{ badge('https://travis-ci.org/samuelcolvin/harrier', 'https://travis-ci.org/samuelcolvin/harrier.svg?branch=master', 'build status', 100) }}
  {{ badge('https://codecov.io/gh/samuelcolvin/harrier', 'https://codecov.io/gh/samuelcolvin/harrier/branch/master/graph/badge.svg', 'coverage', 106) }}
  {{ badge('https://pypi.org/project/harrier/', 'https://img.shields.io/pypi/v/harrier.svg', 'pypi version', 78) }}
{% endmacro %}

{% block main %}
  <main>
    <div class="left">
      <article>
        <div class="narrow">
          {{ intro() }}
        </div>
        {{ content }}
      </article>
    </div>
    <div class="right">
      <nav>
        {{ intro() }}
        {% for slug, name in page.headings %}
          <amp-animation id="{{ slug }}-spy" layout="nodisplay">
            <script type="application/json">[
              {% for slug2, _name in page.headings -%}
                {%- if slug2 == slug -%}
                  {"selector": "#a-{{ slug }}", "fill": "both", "duration": 100, "keyframes": {"opacity": 1}}
                {%- else -%}
                  {"selector": "#a-{{ slug2 }}", "fill": "both", "duration": 100, "keyframes": {"opacity": 0.5}}
                {%- endif %}{{ '' if loop.last else ',' }}
              {% endfor -%}
            ]
            </script>
          </amp-animation>
          <a id="a-{{ slug }}" href="#{{ slug }}" class="link" on="tap:{{ slug }}-spy.start">{{ name }}</a>
        {% endfor %}
      </nav>
    </div>
  </main>
{% endblock %}
