{% extends 'base.jinja' %}

{% macro badge(link, src, alt, width) %}
  <a href="{{ link }}">
    <amp-img
      src="{{ src }}"
      alt="{{ alt }}"
      width="{{ width }}"
      height="20"
      layout="fixed">
    </amp-img>
  </a>
{% endmacro %}

{% block main %}
  <main>
    <header>
      <h1>{{ page.title }}</h1>
      <span>
        {{ badge('https://travis-ci.org/samuelcolvin/harrier', 'https://travis-ci.org/samuelcolvin/harrier.svg?branch=master', 'build status', 100) }}
        {{ badge('https://codecov.io/gh/samuelcolvin/harrier', 'https://codecov.io/gh/samuelcolvin/harrier/branch/master/graph/badge.svg', 'coverage', 106) }}
        {{ badge('https://pypi.org/project/harrier/', url('images/version_badge.svg'), 'pypi version', 80) }}
      </span>
    </header>

    <article>
      <div>
      {{ content }}
      </div>
      <nav>
        {% for slug, name in page.headings %}
          <div>
            <a href="#{{ slug }}">{{ name }}</a>
          </div>
        {% endfor %}
      </nav>
    </article>
  </main>
{% endblock %}
